absl-py==0.11.0
alabaster==0.7.12
awscli==1.18.180
Babel==2.9.0
botocore==1.19.20
cached-property==1.5.2
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
coverage==5.3
cycler==0.10.0
dataclasses==0.6
docutils==0.16
flake8==3.8.4
fsspec==0.8.4
future==0.18.2
google-auth==1.23.0
google-auth-oauthlib==0.4.2
grpcio==1.33.2
h5py==3.1.0
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
Jinja2==2.11.2
jmespath==0.10.0
kiwisolver==1.3.1
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
numpy==1.19.4
oauthlib==3.1.0
packaging==20.4
pandas==1.1.4
Pillow==8.0.1
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
pytorch-lightning==1.0.7
pytorch-lightning-bolts==0.2.5
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
requests-oauthlib==1.3.0
rsa==4.5
s3transfer==0.3.3
scipy==1.5.4
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
terminaltables==3.1.0
torch==1.7.0
tqdm==4.52.0
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
zipp==3.4.0
